body {
  background-color: orange;
  text-align: left;
  font-style: normal;
  font-size: 20px;
  font-color; red;
}
section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
h1 {
  color : red;
  font-family: monospace;
  font-style: italic;
}
.form-group input{
  width: 300px;
}
